/* HTML: <div class="stamp"></div> */
.stamp {
    --r: 20px;
    /* control the radius */

    height: 250px;
    aspect-ratio: 1.5;
    padding: var(--r);
    /* background: ; */
    mask:
        radial-gradient(50% 50%, #0000 66%, #000 67%) round var(--r) var(--r)/calc(2*var(--r)) calc(2*var(--r)),
        conic-gradient(#000 0 0) content-box;
}











.custom-shape-divider-bottom-1765443120 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765443120 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 178px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1765443120 .shape-fill {
    fill: white
}

.custom-shape-divider-bottom-1765443120 .shape-fill2 {
    fill:#9290C3;
}


.custom-shape-divider-bottom-1765444167 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1765444167 svg {
    position: relative;
    display: block;
    width: calc(208% + 1.3px);
    height: 111px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1765444167 .shape-fill {
    fill: white;
}
.custom-shape-divider-bottom-1765444167 .shape-fill2 {
    fill:#9290C3;
}