@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    --color-primary: #CCCCFF;
    --color-secondary: #7070FF;
    --color-accent: #E8F9FF;
    --color-base-100: white;
}

@layer components {
    select option:checked {
        background-color: var(--color-secondary);
        color: white;
    }
}